.check-in-screen {
  text-align: left;
  margin: @pageMargin;

  > div {
    padding-bottom: 10px;
  }

  select {
    width: 100%;
    padding: 5px;
  }

  .check-in-buttons {
    margin-top: 15px;
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-column-gap: 15px;
  }

  .data-choose-row {
    &--title {
      padding-bottom: 5px;
    }
  }

  .date-chooser {
    display: flex;

    div + div {
      margin-left: 15px;
    }
  }

  .time-chooser {
    display: flex;
    justify-content: space-evenly;

    span {
      border: 1px solid #c8c8c8;
      border-radius: 5px;
      padding: 3px 10px;
    }
  }
}
