.user-check-in-list-screen {
  text-align: left;
  margin: @pageMargin;
  display: grid;
  //grid-template-rows: 1fr 50px;
  grid-template-rows: 1fr;
  grid-row-gap: 15px;
  height: calc(100vh - @headerHeight - 20px);

  .check-in-list {
    //max-height: calc(100vh - 148px);
    max-height: 100vh;
    overflow-y: scroll;

    .check-in-item {
      display: grid;
      grid-template-columns: 1fr 140px 20px;
      padding: 10px;
      padding-top: 15px;
      padding-bottom: 15px;
      border-top: 1px solid #c8c8c8;
      border-bottom: 1px solid #c8c8c8;
      background-color: #ffffff;

      &.active {
        background-color: #01c251;
        color: #ffffff;
      }

      &.cancelled {
        background-color: #dddddd;
      }

      &--cancel {
        align-self: center;
        background: none;
        padding: 0;
      }
    }

    .check-in-item + .check-in-item {
      border-top: 0;
    }
  }

  .buttons-container {
    margin-top: 0px;
  }
}
