.user-check-in-list-screen {
  text-align: left;
  margin: @pageMargin;

  .check-in-list {
    .check-in-item {
      display: grid;
      grid-template-columns: 1fr 130px 20px;
      padding: 10px;
      padding-top: 15px;
      padding-bottom: 15px;
      border-top: 1px solid #c8c8c8;
      border-bottom: 1px solid #c8c8c8;
      background-color: #ffffff;

      &.active {
        background-color: #01c251;
        color: #ffffff;
      }

      &.cancelled {
        background-color: #dddddd;
      }

      &--cancel {
        align-self: center;
        background: none;
        padding: 0;
      }
    }

    .check-in-item + .check-in-item {
      border-top: 0;
    }
  }
}
